<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/Favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/Favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/Favicon/favicon-16x16.png" />
    <link rel="manifest" href="/Favicon/site.webmanifest" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/searchResult.css" />

    <title>Document</title>
  </head>
  <body>
    <!-- searchResults.ejs -->
    <%- include("./layouts/header.ejs") %>
    <div class="searchResult">
      <div class="searchResult-box">
        <h1>Search Results for "<%= searchQuery %>"</h1>

        <div class="allResults">
          <% if (results.length > 0) { %>
          
            <% results.forEach(post => { %>
            <div id="result">
              <h3><%= post.title %></h3>
              <p><%- post.content.substring(0, 100) %>...</p>
              <p>Author: <%= post.author %></p>
              <a href="/post/read-post/<%= post._id %>" id="read-more">Read more</a>
            </div>
            <% }) %>
          
          <% } else { %>
          <p>No results found for "<%= searchQuery %>".</p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
