<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'blob:' https://webkriti-1-41korl07v-sim-raitanis-projects.vercel.app;">

    <title>Specific Post</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/stylesheets/specificPost.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <!-- <h1><%=post.title %></h1>
    <p><%=post.description %></p>
    <br><br>
    <p><%-post.content %></p>
     -->
    <%- include("./layouts/header.ejs") %>
    <div class="wrapper-box">
      <div class="section">
        <div class="box">
          <div class="content-heading">
            <h1 class="heading"><%=post.title %></h1>
            <p class="description"><%=post.description %></p>
          </div>
          <div class="content-image">
            <img
              src="<%=post.image %>"
              alt=""
            />
          </div>
          <div class="user-profile">
            <div class="image-section">
              <img src="/images/finallogo.png" alt="" />
            </div>
            <div class="profile-detail">
              <h3 class="name"><%=post.user.name %></h3>
              <p class="time">Posted on: <%=date %></p>
            </div>
          </div>
          <hr style="border: 1px dotted #6b6b6b; width: 100%" />
          <div class="content-body">
            <p>
             <%-post.content %>
            </p>
          </div>
          <div class="like-dislike">
            <div class="like">
              <i class="fa-solid fa-thumbs-up"></i>
              <p id="like"><%= likes !== undefined ? likes : 0 %></p>
            </div>
            <div class="dislike">
              <i class="fa-solid fa-thumbs-down"></i>
              <p id="dislike"><%= dislikes !== undefined ? dislikes : 0 %></p>
            </div>
          </div>

          <hr style="border: 1px dotted #6b6b6b; width: 100%" />
          <div class="comment-section">
            <p class=".com-status"></p>
            <form id="comment-form" method="post" action="/post/add-comment">
              <input type="hidden" value="<%= post._id %>" name="postId" />

              <input
                type="text"
                name="comment"
                placeholder="Enter your comment"
              />
              <button type="submit" id="submit-button">Comment</button>
            </form>

            <div class="all-comments">
              <% if (post.comments.length > 0) { %> <%
              post.comments.reverse().forEach(function(comment) { %>
              <div><%= comment.text %></div>
              <div><%= comment.createdBy.name %></div>

              <div>
                <form
                  action="/post/reply/<%=comment._id %>"
                  method="POST"
                  id="reply-form"
                >
                  <input
                    type="hidden"
                    name="commentId"
                    value="<%= comment._id %>"
                  />
                  <input type="hidden" />
                  <input type="text" name="reply" id="comment-reply" />
                  <button type="submit" id="reply-btn">Reply</button>
                </form>
                <div id="reply-<%=comment._id%>">
                  <% if (comment.replies.length > 0) { %> <%
                  comment.replies.forEach(function(reply) { %>
                  <p><%= reply.text %></p>
                  <p><%= reply.createdBy.name %></p>
                  <% }) %> <% } %>
                </div>
              </div>
              <% }) %> <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        var socket = io();

        socket.on("new_comment", function (formData) {
          if (formData) {
            var html = `
            <div>
              <div>${formData.comment}</div>
              <div>${formData.username}</div>
            </div>
          `;
            $(".all-comments").prepend(html);
          }
        });

        socket.on("new_reply", function (formData) {
          if (formData) {
            var html = `
            <div>
              <p>${formData.reply}</p>
              <p>${formData.username}</p>
            </div>
          `;
            $(`#reply-${formData.commentId}`).append(html);
          }
        });

        // Comment form submission
        $("#comment-form").submit(function (event) {
          event.preventDefault();
          var formData = {};
          var obj = $(this);
          $.each($(this).serializeArray(), function (i, field) {
            formData[field.name] = field.value;
          });

          $.ajax({
            url: "/post/add-comment",
            type: "POST",
            data: formData,
            success: function (data) {
              if (data && data.success) {
                alert(data.msg);
                $(obj)[0].reset();
                formData._id = data._id;
                formData.username = data.username;
                formData.commentId = data.comment_id;
                socket.emit("new_comment", formData);
              }
            },
            error: function (xhr, status, error) {
              console.log("AJAX error:", status, error);
            },
          });
        });

        // Delegate event for reply forms
        $("#reply-form").submit(function (event) {
          console.log("hello sim");

          event.preventDefault();
          let formData = {
            commentId: $('input[name="commentId"]').val(),
            reply: $('input[name="reply"]').val(),
          };

          var obj = $(this);
          $.each($(this).serializeArray(), function (i, field) {
            formData[field.name] = field.value;
          });

          console.log("formdata:", formData);

          $.ajax({
            url: `/post/reply/${formData.commentId}`,
            type: "POST",
            data: formData,
            success: function (data) {
              if (data && data.success) {
                alert(data.msg);
                $(obj)[0].reset();
                formData._id = data._id;
                formData.username = data.username;
                socket.emit("new_reply", formData);
              }
            },
            error: function (xhr, status, error) {
              console.log("AJAX error:", status, error);
            },
          });
        });

      
        var postId="<%=postId%>";
        var userId="<%=userId%>";

        console.log("post id:",postId);
        

        const token = `; ${document.cookie}`;
        if (!token) {
          $(".fa fa-thumbs-down").addClass("disabled");
          $(".fa-thumbs-up").addClass("disabled");
        }

        $(".fa-thumbs-up").click(function () {
          console.log("like clicked");
          
          socket.emit("like", { post_id: postId, user_id: userId });
        });
        $(".fa-thumbs-down").click(function () {
          console.log("disliked post");
          
          socket.emit("dislike", { post_id: postId, user_id: userId });
        });

        socket.on("like_dislike", function (data) {
          if (postId == data.post_id) {
            $("#like").text(data.likes);
            $("#dislike").text(data.dislikes);
          }
        });
      });
    </script>
  </body>
</html>
